---
import {supabase} from "@/supabase";
import UpdateButton from "@/components/UpdateButton";
import DeleteButton from "@/components/DeleteButton";
import UpdateModal from "@/components/UpdateModal";

export type Props = {
    id: number;
    title: string;
    description: string;
    date_published: Date;
    image: string;
}

const {id, title, description, date_published, image} = Astro.props;



---


<div class="container mx-auto p-6 transform hover:scale-105 transition-transform duration-300 ease-in-out">
  <div class="flex items-stretch -mx-4 ">
    <div class="flex-1 p-4">
      <div class="block bg-white overflow-hidden border-2 border-zinc-300 size-fit rounded-lg">
        <div class="p-4">
          <h2 class="mt-2 mb-2 font-bold text-2xl font-Heading">
            <img src={image}>
            {title} 
          </h2>
          <div class="mb-4 flex flex-wrap">
          </div>
          <p class="text-md text-justify">{description}</p>
        </div>
        <div class="p-4 flex flex-wrap items-center">
          <p class="tracking-wide text-xs font-medium me-2 px-2.5 py-0.5 mr-2 mb-2 rounded-lg bg-yellow-300 text-yellow-800">{date_published}</p>
        </div>
        <div class="flex gap-2 justify-end p-5 ">
          
          <UpdateModal id={id} client:load/>
          <DeleteButton id={id} client:load/>



        </div>
        
      </div>
    </div>
  </div>
</div>



