---

// Import necessary components and icons
import DeleteButton from "@/components/DeleteButton";
import UpdateButton from "@/components/UpdateModal";

// Define the props type for the Card component
export type Props = {
    id: number; // Unique identifier for the card
    title: string; // Title of the news article
    description: string; // Brief description of the news article
    date_published: Date; // Date when the news article was published
    body: string; // Full body content of the news article
    images: string; // URL of the image associated with the news article
}

// Destructure props to access individual properties
const { id, title, description, date_published, images } = Astro.props;
---



<!-- Card.astro -->

<div class="relative flex flex-col mt-6 text-gray-700 bg-gray-100 shadow-md bg-clip-border rounded-xl w-96">
  <div
    class="relative h-56 mx-4 -mt-6 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
    <img
      src={images}
      alt="card-image"
      class="w-full h-full object-cover" />
  </div>
  <div class="p-6">
    <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
      {title}
    </h5>
    <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
      {description}
    </p>
    <span class="inline-block px-2 py-1 mt-2 text-sm font-medium bg-blue-500 text-white rounded">
      {date_published}
    </span>
  </div>
  <div class="p-6 pt-0 flex justify-end">
    <UpdateButton id={id} client:load/>
    <DeleteButton id={id} client:load/>
  </div>
</div>
