---

// Import necessary components and icons
import DeleteButton from "@/components/DeleteButton";
import UpdateButton from "@/components/UpdateModal";

// Define the props type for the Card component
export type Props = {
    id: number; // Unique identifier for the card
    title: string; // Title of the news article
    description: string; // Brief description of the news article
    date_published: Date; // Date when the news article was published
    body: string; // Full body content of the news article
    images: string; // URL of the image associated with the news article
}

// Destructure props to access individual properties
const { id, title, description, date_published, images } = Astro.props;
---



<!-- Card.astro -->

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-zinc-100">
  <img class="w-full" src={images} alt={title}>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{title}</div>
    <p class="text-gray-700 text-base font-italic">
     <span class="font-bold">Published Date:</span> {date_published}
    </p>
  </div>
  <div class= "p-4 flex justify-end gap-2">
    <UpdateButton id={id} client:load/>
    <DeleteButton id={id} client:load/>
  </div>
</div>
